<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD5B9NR5QTlKyyBjapc8pu21-GfgkL9SbQ</string>
	<key>GCM_SENDER_ID</key>
	<string>304338530315</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.smartmart</string>
	<key>PROJECT_ID</key>
	<string>smartmart-48d46</string>
	<key>STORAGE_BUCKET</key>
	<string>smartmart-48d46.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:304338530315:ios:31fb7a8ac1678c9be9570e</string>
</dict>
</plist>